TodoPrototype/.vs
TodoPrototype/PrototypeFiles
TodoPrototype/TodoPrototype/bin
TodoPrototype/TodoPrototype/obj
TodoPrototype/TodoPrototype/Properties
TodoPrototype/TodoPrototype/App.config
TodoPrototype/TodoPrototype/TodoPrototype.csproj
TodoPrototype/TodoPrototype.sln
